body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #fff5f5;
  color: #4a4a4a;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  background: #ffe3e3;
  border-radius: 20px;
  box-shadow: 0 0 10px #ffc6c6;
}

h1 {
  color: #d36b6b;
  text-align: center;
}

label {
  display: inline-block;
  margin: 10px;
  font-weight: bold;
  color: #d46c6c;
}

#malla {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 15px;
  margin-top: 30px;
}

.ramo {
  background: #ffd5d5;
  padding: 15px;
  border: 2px solid #ff9a9a;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

.ramo:hover {
  background-color: #ffc1c1;
}

.ramo.aprobado {
  background-color: #ffb3b3;
  border-color: #e07878;
}

.ramo.desbloqueado {
  background-color: #fff0f0;
  border-color: #ffb3b3;
}
